.top-btm-padding{
  padding-top: 50px;
  padding-bottom: 50px;
}

.large-device{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 18px;
}

.right-side-content{
  position:-webkit-sticky; position:sticky; top:0;
}

.add-btn-content{
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  justify-content: center;
}

.btn-add{
  padding: 10px 10px !important;
}