.add-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--color-lightest);
  border-radius: 7px;
  margin-bottom: 1.6rem;
  padding: 35px 15px;
}

.form-per-content{
  display: grid;
  grid-template-columns: 0.7fr 0.8fr;
  gap: 8px;
  justify-content: space-around;
}

label {
  font-weight: 500;
  font-size: 18px;
  font-family: var(--roboto-font-family);
}

input,
select {
  font-family: var(--roboto-font-family);
  font-size: 15px;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.form-btn{
  padding: 10px 10px !important;
}

@media screen and (max-width: 480px) {
  .form-per-content{
    display: grid;
    grid-template-columns: 1.5fr 1.3fr;
    gap: 8px;
    justify-content: space-around;
  }

  label {
    font-weight: 500;
    font-size: 15px;
    font-family: var(--roboto-font-family);
  }

  input,
  select {
  font-family: var(--roboto-font-family);
  font-size: 15px;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
 }
}